ul{
    list-style-type:none;
    text-align: center;
    background: #d3cdc4;
    height:35px;
}
ul li{
    display:inline;
    
    line-height: 35px;
    margin-left: 10px;
     margin-right: 10px;
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #0f0101;
    font-weight: bold;
}

ul li a:hover{
    color:#FF0000;
    background: #FFF;
    padding: 2px;
    border-radius: 5px;
}  

#myBG{
    background: url('taj.jpg') no-repeat;
    background-size: cover;
    height:500px;
    width:100%;

}